<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
<head>

  <title>Ril Digital - Great Ideas</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <meta name="google-site-verification" content="q14W9r92H-OXJLtpCJhhgiSVoWo6jWPLOJvC1MLR-AM" />

  <link rel="icon" type="image/png" href="http://rildigital.com.br/assets/og-image.png">

  <meta name="description" content="Com grandes ideias fazemos desenvolvimento de sistemas web, aplicativos, marketing digital para o seu negocio.">
  <meta name="keywords" content="sistemas, web, mobile, marketing, fron-end, back-end, desenvolvimento">
  <meta name="author" content="http://www.rildigital.com.br"/>
  <meta name="robots" content="index, follow"/>

  <meta property="og:title" content="Ril Digital"/>
  <meta property="og:description" content="Desenvolvimento de sistemas web, aplicativos e marketing digital."/>
  <meta property="og:url" content="http://rildigital.com.br/"/>
  <meta property="og:image" content="http://rildigital.com.br/assets/og-image.png"/>
  <meta property="og:locale" content="pt_BR"/>
  <meta property="og:site_name" content="Ril Digital"/>
  <meta property="og:type" content="website"/>

  <!-- Style Sheets -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>




  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<div class="slider-overlay slider-overlay-1 "></div>
<div id="sound" style="z-index: -1;"></div>
<div id="parent">
  <img id="background" alt="background" src="/assets/ypDVFNp.jpg" />
</div>
<div class="banner" style="text-align:center;">
  <div class="banner-inner">
    <div class="container">
      <div class="hero-caption row">
        <h1 class="hero-text animated fadeInDown delayTwo"><span class="logo"></span></h1>
      </div>
      <a href="#" id="about" class="md-trigger" data-modal="modal-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sobre Nós"><i class="fa fa-star animated rotateIn delay"></i></a>


      <ul id="countdown">
        <li class="">
          <span class="days">00</span>
          <p class="timeRefDays">dias</p>
        </li>
        <li class="">
          <span class="hours">00</span>
          <p class="timeRefHours">horas</p>
        </li>
        <li class="">
          <span class="minutes">00</span>
          <p class="timeRefMinutes">minutos</p>
        </li>
        <li class="">
          <span class="seconds">00</span>
          <p class="timeRefSeconds">segundos</p>
        </li>
      </ul>

      <ul id="shortlinks">
        <li class="animated  bounceIn delay"><a href="https://www.facebook.com/rildigital/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li class="animated  bounceIn delay"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
      </ul>

      <!--
      <form action="http://respooonsive.us7.list-manage1.com/subscribe/post?u=1753278e08f9784d3ee119021&amp;id=d8706eeb51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" novalidate="" />


      <div class="newsletter">
        <input type="text" value="" name="EMAIL" class="email email-txt" id="mce-EMAIL" placeholder="Subscribe to our Newsletter" required="" />

        <div class="newsletter-fill">
          <i class=" fa fa-times"></i>
        </div>
      </div>
      <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn" style="display:none;" />
      </form>
       -->
      <!--End of MailChimp Signup Form -->
    </div>
  </div>
</div>
<!-- //End of Banner -->

<div id="footer" class="animated  fadeInUp delay">
  &copy; 2014 Ril Digital - Great Ideas.
</div>
<div class="md-modal md-effect-12" id="modal-1">
  <div class="md-content">
    <h3>Sobre nós</h3>
    <div class="row">
      <div class="col-md-6">
        <p class="text-right">A Ril digital é uma empresa de web design e desenvolvimento de software 100% brasileira, que busca atender os seus clientes de uma forma ágil e eficiente, criando produtos e serviços inovadores de alta qualidade, atendendo as atuais demandas do mercado nacional e mundial. A Ril digital tem como principal objetivo atender a expectativa do cliente, buscando assim excelência nos seus serviços e produtos, além de criar uma relação de confiança e satisfação dos mesmos.</p>
      </div>
      <div class="col-md-6">
        <h4>Contacte-nos</h4>
        <p class="text-left"><i class="fa fa-map-marker fa-fixed-width"></i> João Pessoa, Paraíba</p>
        <p class="text-left"><i class="fa fa-phone-square fa-fixed-width"></i> (83) 3512-4755</p>
        <p class="text-left"><i class="fa fa-laptop fa-fixed-width"></i> <a href="mailto:comercial@rildigital.com.br?subject=Mail%20from%20Our%20Site">comercial@rildigital.com.br</a></p>
      </div>
    </div>
    <a href="#" class="md-close"><i class="fa fa-times"></i></a>
  </div>
</div>
<div class="md-overlay"></div>



<!-- Scripts -->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>

    $(document).ready(function(){
        $("#countdown").countdown({
                    date: "3 march 2014 12:00:00",
                    format: "on"
                },

                function() {
                    // callback function
                });
    });

</script>

<!-- analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48076891-1', 'rildigital.com.br');
    ga('send', 'pageview');

</script>

</body>
</html>






